table,
td,
th {
    border: 1px solid grey;
}

/* Заглавные римские числа */
ol {
    list-style-type: upper-roman;
}
li span {
    color: blue;
}
th {
    background: #bcb4db;
}
.container {
    margin-left:90px;
}
.text {
    width: 310px;
    height: 100px;
}