body{
    display: flex;
    background-image: url('https://irecommend.ru/sites/default/files/product-images/1272268/ZVwKMmrMf0AIXTCQgtpEQ.jpg');
    background-size: cover;
    width: 100%;
}
.container{
    display: flex;
    justify-content: left;

    padding-bottom: 20px;
    color: white;
    font-family: 'Finger Paint', cursive;
}

