@media screen and (min-width: 980px) /* Desktop */ {
    body {
      background: white;
    }
  }
   
  @media screen  and (max-width: 979px) /* Tablet */ {
    body {
      background: blue;
    }
  }
   
  @media screen and (max-width: 500px) /* Mobile */ {
    body {
      background: green;
    }
}
.container1{
    background-color: white;
    font-family: Roboto;
    margin: 130px auto ;
    height: 500px;
    width: 90%;

}
h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
}
h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #091133;
}
button{
    height: 25px;
    width: 190px;
    background: #1b2a6e;
    border-radius: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: white;
    border: 0px;
}
.container1 h1{
    color: #0c1644;
}
.container2{
    width: 1000px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #6F7CB2;
}
.container3{
    color: #425194;
}
.container4{
    width: 350px;
    float: left;
    margin: 10px 30px 0 0;
}




